*{
    margin-top: 0px;
    margin-bottom: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightslategrey;
}

.form {
    background-color: white;
    text-align: center;
    padding: 100px;
    border-radius: 3px;
    margin: 25px; 
    display: flex;
    flex-direction: column;
    gap: 5px;        
}

.control{
    border-radius: 2px solid;
    height: 30px;
    width: 275px;
    color: black;
}

.form button {
    border-radius: 5px;
    height: 30px;
    width: 275px;
    background-color: green;
}

.radio{
    width: 195px;
}